<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- config of network information to server -->
  <network>
    <!-- is the port the server is opening and listen -->
    <add name="port" value="2104" />

    <!-- 
    the max length of the pending connection queue
    Explanation:
      As the server receives a connection, there is a time for him to process this connection and accept. 
      If during this time the server receives a new connection and there is no backlog, 
      so the server had discarded the new connection, and only accept new connections 
      after finishing accept the current pending connection.
      
      To get round this situation can set the backlog, which is the size of the queue pedentes connections, 
      that say that if you generate a new attempt to connect to the server, and existing backlog, 
      and the server is still processing a previous connection. 
      So this new connection goes to the backlog, until the previous connection has finished its 
      process and start the process the next connection in the queue backlog.
      
      However use this tool carefully, put a very high value for the backlog can overload your operating system. 
      Increase this value according to your demand users.
    -->
    <add name="backlog" value="10" />
  </network>

</configuration>